<nav>
  <div class="site-title">
    <a href="/"><h1>Blog <span style="color:#cb1e40;">D</span><span style="color: #33383c;">H</span></h1></a>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">Nosotros</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>